body {
    background-color:papayawhip;
    
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 2rem;
    font-family: monospace;
    padding: 10px;
}

.yellow {
    background-color: yellow;
}

.display {
    font-size: 2.5rem;
    font-family: monospace;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info {
    width: 70%;
    margin: auto;
    line-height: 2rem;
}

#info p {
    font-size: 1.25rem;
}

#info li {
    font-size: 1.25rem;
}


.sources {
    padding-top: 100px;
}

h3 {
    padding-top: 30px;
}

.code {
    font-family: monospace;
}

#word-bank{
    background-color: rgb(255, 255, 116);
    width: 50%
}

.info-block {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;

    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.info-block h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.info-block p {
    margin-top: 0px;
}

.binary-block {
    display: flex;
    justify-content: center;
}

.binary-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
}

.binary-grid p {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.binary-grid .times {
    font-size: 2rem;
}

.binary-grid .display-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.binary-grid .addition {
    margin-top: 10px;
}

.binary-grid .equals {
    margin-top: 10px;
    padding: 0px 10px 0px 0px;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}