body {
    font-family: monospace;
    width: 700px;
}

.pfp {
    width: 150px;
    border-radius: 0%;
    float: right;
}

h1 {
    font-family: monospace;
}

h2 {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

.code {
    font-family: monospace;
}

.name-block {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.bold-link {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: monospace;
}

.skill-level {
    font-weight: bold;
    font-size: 1.1rem;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.inline-header {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 300px;
}

.thumbnail {
    height: 120px;
    width: 160px;
    object-fit: cover;
    object-position: top;
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
}

.list-item {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

ul {
    list-style-type: none;
}

@media (max-width: 700px) {
  /* Styles applied when screen width is 768px or less */
  body {
    width: 95%;
  }

  .thumbnail {
    height: 60px;
    width: 80px;
  }
}