body {
    font-family: monospace;
    /* width: 700px; */
}

.pfp {
    width: 150px;
    border-radius: 0%;
    float: right;
}

h1 {
    font-family: monospace;
}

h2 {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

.code {
    font-family: monospace;
}

.name-block {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.bold-link {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: monospace;
}

.skill-level {
    font-weight: bold;
    font-size: 1.1rem;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.inline-header {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 300px;
}

.thumbnail {
    height: 120px;
    width: 160px;
    object-fit: cover;
    object-position: top;
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
}

.list-item {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

ul {
    list-style-type: none;
}

.columns {
    display: flex;
}

.col1 {
    flex: 55%;
    padding: 0px 50px 10px 10px;
}

.col2 {
    flex: 45%;
    padding-left: 10px;
    padding-right: 30px;

    border-left: 2px solid rgba(135, 135, 135, 0.27);
}

.updates p {
    font-size: larger;
}

.updates a {
    font-size: larger;
}

.updates img {
    width: 75%;
    margin: 30px;
    box-shadow: 0px 0px 10px 0px rgb(184, 184, 184);
}

.updates .medium-img {
    width: 50%;
}

.updates .small-img {
    width: 25%;
}

.updates math {
    font-size: x-large;
}

.updates .image-source {
    text-indent: 10%;
    font-size: 0.7rem;
    position: relative;
    top: -30px;

    margin-bottom: -10px;
}

.updates .image-source a {
    font-size: inherit;
}

.quote {
    padding-left: 20px;
    border-left: 3px solid rgb(158, 158, 158);
}

.mobile {
    display: none;
}

.contact-footer {
    width: 50%;
}

@media (max-width: 700px) {
  /* Styles applied when screen width is 768px or less */
  body {
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .thumbnail {
    height: 72px;
    width: 96px;
  }

  .columns {
    display: block;
  }

  .col1 {
    padding: 0px;
}

  .col2 {
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px solid black;
    }

    a {
    word-break: break-word;
    overflow-wrap: break-word;
}

.jump {
    display: inline;
    font-size: 0.9rem;
}

hr.mobile {
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
}

a.mobile {
    display: inline;
}

.contact-footer {
    width: 100%;
}

ul {
    padding: 0px;
}
}