/*line-of-time.css
  Nicholas Norman October 2025
  this is a game where you compare lines of different valued things*/

.timeline {
  background-color: rgb(230, 230, 230);
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  color:white;
  font-family: cursive;
  font-size: 1.25rem;
  width: 250px;
  overflow: hidden;
  text-align: center;
  margin: 5px;
}

.card p {
  height: 50px;
  overflow: auto;
}

.card .card-name {
  height: 70px;
}

.card img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.addButton {
  font-size: 2rem;
}

.questionBox {
  width: 700px;
  height: 200px;
}

.error {
  color:red;
  font-size: 2rem;
}