/*line-of-time.css
  Nicholas Norman October 2025
  this is a game where you compare lines of different valued things*/

.timeline {
  background-color: rgb(230, 230, 230);
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  color:white;
  font-family: cursive;
  overflow: hidden;
  text-align: center;
  margin: 5px;
}
/* Large */
.large {
  font-size: 1.25rem;
  width: 250px;
}

.large p {
  height: 50px;
  overflow: auto;
}

.large .card-name {
  height: 70px;
}

.large img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

/* Medium */
.medium {
  font-size: 1rem;
  width: 200px;
}

.medium p {
  height: 30px;
  overflow: auto;
}

.medium .card-name {
  height: 60px;
}

.medium img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
/* Small */
.small {
  font-size: 0.75rem;
  width: 150px;
}

.small p {
  height: 20px;
  overflow: auto;
}

.small .card-name {
  height: 40px;
}

.small img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
/* ------ */

.addButton {
  font-size: 2rem;
}

.questionBox {
  width: 700px;
  height: 200px;
}

.error {
  color:red;
  font-size: 2rem;
}

.currentCard {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

/* Animation */
.grow-in {
  transform: scale(0);          /* start small */
  animation: grow 1s ease-out forwards; /* animate to full size */
}

@keyframes grow {
  to {
    transform: scale(1);
  }
}