/*diffie-hellman-game.css
  Nicholas Norman February 2026
  */

.scared-on {
  background-color: black;
}

body {
  text-align: center;
  font-size: large;
  width: 50%;
  margin: auto;
}

li {
  margin: 10px 0;
}