/*scratch-off.css
  Nicholas Norman October 2025
  This is a scratch off simulator with no money!*/

canvas {
    border: 3px solid black;
}

.canvases {
  position: relative;
}

.canvases canvas {
  position: absolute;
  inset: 0;
}

#prize { z-index: 0; }
#canvas    { z-index: 1; }